{% extends "base.html" %}
{% block title %}Tambah Produk{% endblock %}
{% block content %}
<h3>Tambah Produk</h3>
<form method="POST" action="{{ url_for('add_product') }}">
    <div class="mb-3">
        <label for="name" class="form-label">Nama Produk</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="brand" class="form-label">Jenis Produk</label>
        <input type="text" class="form-control" id="brand" name="brand" required>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Harga</label>
        <input type="number" class="form-control" id="price" name="price" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Deskripsi</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Tambah</button>
</form>
{% endblock %}
